nav {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 6rem;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #0D1321;
    z-index: 186381735681;
}

#heading {
    font-size: 40px;
}

body nav ul {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.nav_icon {
    display: none;
}

#nav-links {
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
}

.nav_name{
    margin: 0 15px;
    border-radius: 15px;
}

.nav_name a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 25px;
    font-weight: 900;
}

.nav_name:hover {
    transform: scale(1.1);
    background-color: #3E5C76;
}


/* Media Queries */

@media screen and (max-width: 900px) {   
    .nav_name {
        display: none;
    }

    .nav_icon {
        display: flex;
        margin: 0px 1rem;
    }

    .nav_icon a {
        transition: all 0.3s ease-in-out;
    }

    nav {
        position: fixed;
        bottom: 15px;
        top: auto;
        width: 100%;
        height: 4rem;
        border-radius: 60px;
    }

    #nav-links {
        background-color: #1D2D44;
        width: 50%;
        border-radius: 25px;
        height: 3rem;
        align-items: center;
        padding-top: 5px;
        justify-content: center;
    }

    #heading {
        display: none;
    }

    .nav_icon a:hover {
        transform: scale(1.1);
    }
    
}

@media screen and (max-width: 600px) {
    #nav-links {
        width: 80%;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    .button button {
        margin: 0px auto;
    }

    .nav_icon {
        margin: 0px 0.6rem;
    }
}