#projects {
    margin: 30px 0px;
    padding-top: 10rem;
}

.project-blob {
    width: 38rem;
}

.project-image {
    height: 43%;
    box-shadow: 0px 5px 50px 30px #1D2D44;
}

.project-image img {
    width: 32rem;
    height: 18rem;
}

.project-container {
    padding-top: 5rem;
    display: flex;
    height: 47rem;
    align-items: center;
}

.project-details {
    padding-left: 21rem;
    height: 50%;  
}

.project-details button {
    background-color: #1D2D44;
    width: 8rem;
    height: 4rem;
    border: transparent;
    border-radius: 15px;
    margin: 2rem 13rem;
    transition: all 0.2s ease-in-out;
}

.project-details button:hover {
    background-color: #003652;
    
}

.project-details button a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 18px;
}

.project-title {
    text-align: center;
    font-size: 30px;
    padding: 15px 0px;
}

.project-description {
    width: 35rem;
    text-align: justify;
}