#services {
    margin: 30px 0px;
    padding-top: 10rem;
}

.services-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
}

.services-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: #1D2D44;
    height: 25rem;
    border-radius: 15px;
    padding: 20px;
    margin: 0px 5rem;
    transition: all 0.2s ease-in-out;
}

.services-container:hover {
    transform: scale(1.1);
}

.service-icon {
    margin: 0px auto;
}

.services-heading {
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
}

.services-details {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.services-link {
    margin: 40px auto;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .service-icon svg {
        width: 3.5rem;
    }    

    .services-heading {
        font-size: 25px;
        padding-top: 5px;
    }

    .services-details {
        font-size: 15px;
    }

    .services-link {
        margin: 30px auto;
    }

    .services-container {
        padding: 5px;
        margin: 0px 3rem;
    }
}

@media screen and (max-width: 900px) {
    .services-div {
        flex-direction: column;
        margin-top: 8rem;
    }

    .services-container {
        height: 20rem;
        margin: 2rem auto;
    }
}